# Entorno de ejecución
NODE_ENV=development

# Nombre del bot
BOT_NAME=Urban Tech Assistant

# Nivel de logs
LOG_LEVEL=debug

# Tiempo de inactividad para expirar la sesión del usuario (en minutos)
SESSION_TIMEOUT=30

# Tiempo de inactividad del asesor para reanudar el bot (en minutos)
ADVISOR_TIMEOUT=30
