# ==========================================
# WhatsApp Assistant
# Variables de entorno
# ==========================================

# Entorno de ejecución
NODE_ENV=development

# Nombre del bot
BOT_NAME=Urban Tech Assistant

# Nivel de logs
LOG_LEVEL=debug

# Zona horaria
TZ=America/Bogota
